/*Invacont Test (Kristina Mukha, e-mail: annaseenaya@gmail.com)*/
@font-face { 
font-family: HelveticaNeueCyr; 
src: url(fonts/HelveticaNeueCyr-Black.otf) format('opentype');
font-weight: 900;
} 
@font-face { 
font-family: HelveticaNeueCyr;
src: url(fonts/HelveticaNeueCyr-BlackItalic.otf) format('opentype'); 
font-weight: 900;
font-style: italic;
} 
@font-face { 
font-family: HelveticaNeueCyr;
src: url(fonts/HelveticaNeueCyr-Bold.otf) format('opentype'); 
font-weight: bold;
} 
@font-face { 
font-family: HelveticaNeueCyr;
src: url(fonts/HelveticaNeueCyr-BoldItalic.otf) format('opentype'); 
font-weight: bold;
font-style: italic;
} 
@font-face { 
font-family: HelveticaNeueCyr;
src: url(fonts/HelveticaNeueCyr-Italic.otf) format('opentype'); 
font-style: italic;
} 
@font-face { 
font-family: HelveticaNeueCyr;
src: url(fonts/HelveticaNeueCyr-Light.otf) format('opentype');
font-weight: 300; 
} 
@font-face { 
font-family: HelveticaNeueCyr;
src: url(fonts/HelveticaNeueCyr-LightItalic.otf) format('opentype'); 
font-weight: 300; 
font-style: italic;
} 
@font-face { 
font-family: HelveticaNeueCyr;
src: url(fonts/HelveticaNeueCyr-Medium.otf) format('opentype'); 
font-weight: 500; 
} 
@font-face { 
font-family: HelveticaNeueCyr;
src: url(fonts/HelveticaNeueCyr-Roman.otf) format('opentype'); 
} 
@font-face { 
font-family: HelveticaNeueCyr;
src: url(fonts/HelveticaNeueCyr-Thin.otf) format('opentype'); 
font-weight: 100; 
} 
@font-face { 
font-family: HelveticaNeueCyr;
src: url(fonts/HelveticaNeueCyr-ThinItalic.otf) format('opentype'); 
font-weight: 100; 
font-style: italic;
} 
@font-face { 
font-family: HelveticaNeueCyr;
src: url(fonts/HelveticaNeueCyr-UltraLight.otf) format('opentype'); 
font-weight: 200; 
} 
@font-face { 
font-family: HelveticaNeueCyr;
src: url(fonts/HelveticaNeueCyr-UltraLightItalic.otf) format('opentype');
font-weight: 200; 
font-style: italic; 
}
@font-face {
font-family: NimbusSan; 
src: url(fonts/NimbusSanTConBold.ttf) format('truetype');
font-weight: bold;
}
